aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
aiosqlite==0.22.0
alphashape==1.3.1
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
attrs==25.4.0
Automat==25.4.16
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
browserbase==1.4.0
bs4==0.0.2
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
cfspider==1.7.4
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
click-log==0.4.0
colorama==0.4.6
constantly==23.10.4
Crawl4AI==0.7.7
cryptography==46.0.3
cssselect==1.3.0
curl_cffi==0.14.0
DataRecorder==3.6.2
defusedxml==0.7.1
distro==1.9.0
dnspython==2.8.0
docker==7.1.0
docstring_parser==0.17.0
DownloadKit==2.0.7
DrissionPage==4.1.1.2
email-validator==2.3.0
et_xmlfile==2.0.0
fake-http-header==0.3.5
fake-useragent==2.2.0
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
fastar==0.8.0
fastuuid==0.14.0
filelock==3.20.1
frozenlist==1.8.0
fsspec==2025.12.0
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.47.0
google-genai==1.57.0
greenlet==3.3.0
grpcio==1.67.1
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.2.3
humanize==4.14.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==8.7.0
Incremental==24.11.0
itemadapter==0.13.0
itemloaders==1.3.2
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lark==1.3.1
litellm==1.80.0
lxml==5.4.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multidict==6.7.0
narwhals==2.15.0
nest-asyncio==1.6.0
networkx==3.6.1
nltk==3.9.2
numpy==2.3.5
openai==2.14.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
parsel==1.10.0
patchright==1.56.0
pillow==12.0.0
playwright==1.57.0
propcache==0.4.1
Protego==0.5.0
protobuf==6.33.2
psutil==7.1.3
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic-extra-types==2.10.6
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
PyDispatcher==2.0.7
pyee==13.0.0
Pygments==2.19.2
pyOpenSSL==25.3.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.21
pytz==2025.2
PyYAML==6.0.3
queuelib==1.8.0
rank-bm25==0.2.2
redis==7.1.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-file==3.0.1
rich==14.2.0
rich-toolkit==0.17.1
rignore==0.7.6
rpds-py==0.30.0
rsa==4.9.1
rtree==1.4.1
scipy==1.16.3
Scrapy==2.13.4
scrapy-playwright==0.0.44
scrapy-redis==0.9.1
selenium==4.39.0
sentry-sdk==2.48.0
service-identity==24.2.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.8.1
stagehand==0.5.9
starlette==0.50.0
streamlit==1.52.2
tenacity==9.1.2
tf-playwright-stealth==1.2.0
tiktoken==0.12.0
tldextract==5.3.0
tokenizers==0.22.1
toml==0.10.2
tornado==6.5.4
tqdm==4.67.1
trimesh==4.10.1
trio==0.32.0
trio-websocket==0.12.2
Twisted==25.5.0
typer==0.21.0
typer-slim==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
uv==0.9.21
uvicorn==0.40.0
w3lib==2.3.1
watchdog==6.0.0
watchfiles==1.1.1
websocket-client==1.9.0
websockets==15.0.1
wsproto==1.3.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zope.interface==8.1.1
